
# Author Settings
author: Hua Sun
author-img: photo.png
about-author: Welcome to my world! :grin <br /> I am the Lead Bioinformatics Research Scientist at St. Jude Children's Research Hospital and currently focus on pediatric brain tumor research. 

social-github: hsun9
social-linkedin: hua-sun
social-email: hua.sun229@gmail.com

# Build Settings
markdown: kramdown
plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji

paginate: 8
paginate_path: "/page/:num"

exclude: ["node_modules", "gulpfile.js", "package.json", "yarn.lock"]
